body {
    width: 100%;
}
form {
    margin: 30px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(23, 2, 43);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    /* box-shadow: -2px 2px 10px rgba(66, 4, 124, 0.645); */
}

.titulo {
    text-align: center;
    /* filter: drop-shadow(-2px 2px 5px #c6c6c66f); */
}

.branco {
    color: aliceblue;
}

button {
    width: 100px;
    margin: 0 auto;
}

button:disabled {
    background-color: brown;
    border: 1px solid brown;
}