<form (ngSubmit)="salvarProduto()" #produtoForm="ngForm">
    <h2 class="titulo branco">{{ produto.id ? "Editar Produto" : "Adicionar Produto"}}</h2>
    <div class="form-group">
    <label class="branco" for="nome">Nome do produto</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do produto" [(ngModel)]="produto.nome" required>
    </div>
    <div class="form-group">
    <label class="branco" for="quantidade">Quantidade</label>
    <input type="number" class="form-control" id="quantidade" name="quantidade" placeholder="Digite a quantidade" [(ngModel)]="produto.quantidade" required>
    </div>
    <div class="form-group">
    <label class="form-check-label branco" for="preco">Preço</label>
    <input type="number" class="form-control" id="preco" name="preco" placeholder="Digite o Preço" [(ngModel)]="produto.preco" required>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!produtoForm.form.valid">Salvar</button>
</form>